/* CSS Reset */
:root{
    --white:white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    background-image: url(/images/Marcos\ Fabiano.png);
    background-repeat: no-repeat;
  }
  